Invalid CSR versions set in regress tests

It looks like OpenSSL are about to merge [a PR][1] that disallows setting any version but 'version 1' (encoded as `0`) in CSRs, because that's the only version specified, see [RFC 2986, section 4.1][2].

This will break at least two regress tests because of:

https://github.com/ruby/openssl/blob/a8caa63729e66f8ad5cb503f0199e099042faac5/test/openssl/test_x509req.rb#L43

and

https://github.com/ruby/openssl/blob/a8caa63729e66f8ad5cb503f0199e099042faac5/test/openssl/test_x509req.rb#L109

for the second I suggest you find a different way of modifying the CSR.

[1]: https://github.com/openssl/openssl/pull/23965
[2]: https://www.rfc-editor.org/rfc/rfc2986#section-4

I suspect that this would fix it https://github.com/ruby/openssl/compare/master...job:ruby-openssl:master

Do you want to submit a PR?